*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.topo {
    background-color: black;
    height: 20px;
    color: #ffff;
    display: flex;
}

.menu {
    background-color: #F0A83E;
    height: 62px;
    color: #ffff;
    display: flex;

}

div ul {
    display: flex;
    align-items: center;
    font-size: 20px;
    list-style: none;
}

div ul li {
    display: flex;
    gap: 5px;
    margin-left: 22px;
    
}